name: CI

on:
  push:
    branches: [master, main]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - 'docs/**'

jobs:
  ci:
    uses: Sokol111/ecommerce-infrastructure/.github/workflows/nuxt-ci.yml@master
    with:
      node-version: '22'
      pnpm-version: '10'
